services:
  db:
    build:
      context: ./db
      dockerfile: Dockerfile
    container_name: postgres_db
    image: volha564/library-db:latest
    ports:
      - '5432:5432'
    networks:
      - app-network
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - postgres_logs:/var/log/postgresql
    restart: always

  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: volha564/library-app:latest
    container_name: node_app
    ports:
      - '4000:4000'
    depends_on:
      - db
    networks:
      - app-network
    volumes:
      - .:/app
      - /app/node_modules
      - app_logs:/app/logs
    restart: always
    entrypoint: ['sh', '-c', 'npx prisma migrate deploy && npm run start']

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
  postgres_logs:
  app_logs:
